<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group7.at.ac.univie.cosycon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScenesActivity"
            android:label="@string/title_activity_scenes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddTimelineActivity"
            android:label="@string/title_activity_timeline"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RoomsActivity"
            android:label="Rooms"
            android:theme="@style/AppTheme" />
        <activity android:name=".RoomConfig_lamp"
            android:label="Lamp Config"
            android:theme="@style/AppTheme" />
        <activity android:name=".Roomadd"
            android:label="Add Device"
            android:theme="@style/AppTheme" />
        <activity android:name=".Roomconfig_TV"
            android:label="TV Config"
            android:theme="@style/AppTheme" />
        <activity android:name=".RoomConfig_Music"
            android:label="Music Config"
            android:theme="@style/AppTheme" />
    </application>

</manifest>